body {
  background-image: url(/HTML-CSS/background.png);
  z-index: 0;
}

.container {
  width: 1001px;
  height: 1020px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  background-color: #fff;
}

.headerFull {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-left: 25px; */
  width: 283px;
  height: 164px;
}

.topHeader {
  display: flex;
  flex-direction: column;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerMenuCountry {
  width: 80px;
}

.countryName {
  text-align: center;
  display: flex;
  justify-content: center;
}

.countryFlag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ourContacts {
  color: #128aa7;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: bold;
}

.contacts {
  display: block;
  align-self: flex-end;
  color: #128aa7;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: 400;
}

.headerDropDownMenu {
  height: 34px;
  background-color: #303030;
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  /* padding-left: 60px;
  padding-right: 60px; */
}

.MenuItem {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;
}

.dropDown {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 150px;
  height: 125px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  background-color: #303030;
  list-style-type: none;
  text-align: start;
  padding: 10px, 6px, 44px, 9px;
}

li:hover {
  cursor: pointer;
  visibility: hidden;
}

ul li ul {
  visibility: hidden;
  margin-top: 16px;
  margin: 0;
  padding: 0;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textBlock {
  width: 209px;
  height: 546px;
  background-color: rgb(228, 220, 220);
}

.Article {
  text-align: center;
  margin-left: 15px;
  margin-bottom: 8px;
  color: #424c43;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: bold;
}

.leftBlockContent {
  margin-left: 17px;
  color: #424c43;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.rightBlockContent {
  padding-left: 20px;
  margin-right: 15px;
  color: #424c43;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  text-align: center;
  opacity: 0.8;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: 400;
}
